@import "app/sass/footer";
body{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}